<section>
  <form class="js_form">
    <h3>Círculo</h3>
    <p>Escribe cuanto mide el radio del circulo</p>
    <label for="radius">Radio: </label>
    <input
      class="js_inputRadiusCircle"
      name="radius: "
      type="number"
      id="radius"
      placeholder="Radio en cm"
    />
    <button class="js_circlePerimeterBtn">Calcula el perímetro</button>
    <p class="js_circlePerimeterResult"></p>
    <button class="js_circleAreaBtn">Calcula el Área</button>
    <p class="js_circleAreaResult"></p>
    <button class="js_resetBtn">Reset</button>
  </form>
</section>
