<section>
  <form class="js_form">
    <h3>Cuadrado</h3>
    <p>Escribe cuanto mide cada lado del cuadrado</p>
    <label for="square">Lado: </label>
    <input
      class="js_inputSquare"
      name="square: "
      type="number"
      id="square"
      placeholder="Lado en cm"
    />
    <button class="js_squarePermiterBtn">Calcula el perímetro</button>
    <button class="js_squareAreaBtn">Calcula el Área</button>
    <button class="js_resetBtn">Reset</button>
  </form>
</section>
