<section>
  <form>
    <h3>Triangulo</h3>
    <p>Escribe cuanto mide cada lado del cuadrado</p>
    <label for="ladouno"
      >Lado 1 :
      <input
        name="triangle: "
        type="number"
        id="ladouno"
        placeholder="Lado en cm"
      />
    </label>
    Lado 2:
    <label for="ladodos">
      <input
        name="triangle: "
        type="number"
        id="ladodos"
        placeholder="Lado en cm"
      />
    </label>
    Base:
    <label for="base">
      <input
        name="triangle: "
        type="number"
        id="base"
        placeholder="Base en cm"
      />
    </label>
    <button>Calcula el perímetro</button>
    <button>Calcula el Área</button>
  </form>
</section>
